{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'download question' %}{% endblock %}
{% block content %}
<p id='taskid'>   {{ taskid }}   </p>
 <p id='result'>   {{ status }}   </p>


<a href="{% url 'qa:download_files' user.id %}" class="btn btn-primary pull-left" >
  <button type="button" class="btn btn-primary" id = "download_btn" ><span class="glyphicon glyphicon-arrow-down"></span> Download files</button> 
</a>

{% endblock content%}
{% block modal %}

  <script src="{% static 'js/qa.js' %}" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
   $(document).ready(function() {
        if($("#result").text == "PENDING"){
            console.log("Hello")
            setTimeout(downloadQuestionBtn, 500);
        }

        function downloadQuestionBtn(){
        $.ajax({
            type: "POST",
            url: '{% url "qa:download_question_status" %}',
            data: {
              'taskid': $('#taskid').text(),
            },
            success: function (data) {
                console.log("Hello")
                console.log(data.result)
                $("#result").text(data.result)
                if($("#result").text == "PENDING"){
                  setTimeout(downloadQuestionBtn, 500);
            }   
              
            },
        });

            
    }
   });
  </script>
{% endblock modal %}
