{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Edit a question' %}{% endblock %}

{% block content %}
  
    {% csrf_token %}
    
    
        <a href="{% url 'qa:download_question' user.id %}" class="btn btn-primary pull-right">
            <i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Download questions" %}</a>
        
      <a href="{% url 'qa:index_all' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
  
  
  

{% endblock content %}